*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.todo{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.title{
  font-size: 50px;
}

.input{
  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-decoration: transparent;
}

.btn{
  width: 30px;
  background-color: rgba(16, 129, 235, 0.851);
  border-radius: 5px;
  text-decoration: transparent;
}



